@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif;

}
.site-nav{
    background-color: #282e34;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 2%;
  }
  
  .site-nav span{
    color: #ffff;
    display:flex;
    margin-right:0;
    font-size: 40px;
    /* margin-left: auto; */
    cursor: pointer;
  }
  
  .site-nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    /* padding: 20px; */
  }
  
  .site-nav li a{
    position: relative;
   text-decoration: none;
    /* padding: 14px 16px; */
    padding: 0 10px;
    color: white;
    margin: 20px;
  }
  
  .site-nav li a::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height:3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  
  .site-nav li a:hover:after{
    width: 100%;
  }
.articles{
    padding: 100px
}

.articles h1{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.articles h3{
    padding-top: 30px;
}
.articles p{
    padding-top: 30px;
    line-height: 30px;
    font-weight: 500;
}

